
@{
    Layout = null;
}

<h1>Add Some Cheese If You Please</h1>
<form method="post">
    <label>
        Cheese
        <input type="text" name="name" />
    </label>
    <input type="submit"  value="Add Cheese" />
</form>
