
@{
    
}

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add" >Click to add some cheese</a></p>

@if (ViewBag.cheeses.Count = 0)
{

    <p>No cheeses yet!</p>
}

@* make ul list to print to browser passing in the cheeses contained in viewbag.cheeses *@
@* On each iteration in the foreach loop one cheese in the cheeses list will be added to a li tag. *@

<ul>
    @foreach (string cheese in ViewBag.cheeses)
    {
        <li>@cheese</li>
    }

</ul>